@model IEnumerable<Market.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.slide1)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.slide1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.İd }) |
                @Html.ActionLink("Details", "Details", new { id = item.İd }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.İd})
            </td>
        </tr>
    }

</table>





